@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(243, 253, 250);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
h1 {
  text-align: center;
  margin-bottom: .8rem;
  font-size: 2.2rem;
}
main {
  height: 100vh;
  width: 100vw;
}
.container {
  margin: 1rem auto;
  width: 80vw;
  max-width: 760px;
}
.review-container {
  background: rgb(251, 255, 255);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius:  0.25rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  text-align: center;
}
.review-container:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}
.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  position: relative;
}
#authors-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.7rem;
  height: 2.7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: rgba(67, 175, 157, 0.5);
  color: white;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(67, 175, 157, 0.8);
  position: absolute;
  top: -0.2rem;
  right: -0.5rem;
  border-radius: 50%;
}
.authors-name {
  margin-bottom: 0.25rem;
  letter-spacing: .15rem;
  font-size: 1rem;
}
.authors-occup {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(67, 175, 157);
  font-size: 0.85rem;
  letter-spacing: .15rem;
}
.authors-text {
  margin: 1rem 5rem;
  color: rgb(61, 61, 61);
  font-size: 1rem;
}
.prev-btn,
.next-btn {
  color: rgb(80, 182, 165, .7);
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  margin: 0 1.5rem;
  transition: ease-in .2s;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: rgb(47, 124, 111);
}